body {margin:0px 0px 0px 0px;}

#cntdr_frm_login{position:absolute;left:50px;top:50px; width:400px;}
    .cntdr_frm_login_tittle{float:left; width:400px;height:30px;
                            font-size:16px;font-weight:bold;
                            border-bottom-color:#7b0099; border-bottom-style:solid; border-bottom-width:2px;}
    .cntdr_frm_login_field{float:left; width:75px; margin-top:5px;
                           font-size:10px;font-weight:bold;}
    .cntdr_frm_login_data{float:left; width:320px; margin-top:5px; margin-left:5px;}
    .cntdr_frm_login_msgs{float:left;width:400px;margin: 5px;}
    .cntdr_frm_login_conf{float:left;width:400px;margin: 5px; text-align:center;}


#cntdr_pbmaster{}
#cntdr_pbmaster_top{height:30px; border-bottom:solid 1px #516981;}
    .pbmaster_logo{position:absolute; left:20px; font-size:20px; color:#516981; font-weight:bold;}
    .pbmaster_user_settings{position:absolute;right:200px;top:10px;font-size:12px;}       
    .pbmaster_user_settings a{font-size:12px;text-decoration:none; color:#516981;}
    
#cntdr_pbmaster_menu{position:absolute;
                       left:0px;right:0px;
                       top:40px;height:40px;}                             
        
    

#cntdr_pbmaster_main{position:absolute;left:0px;right:0px;top:80px; bottom:0px; margin:10px;} 

#frmContainer{position:absolute;left:0px;top:0px; bottom:0px; right:0px;}
#frmContainer_tittle{height:30px;
                     background-color:#516981; 
                     color:#FFFFFF;font-size:12px; text-align:center;
                     }
#frmContainer_spacer{height:10px; 
                      border-bottom: solid 1px #516981;}                     
#frmContainer_toolBar{height:30px; margin-top:10px;}                                           

    .frmcontainer_field{ font-size:10px;margin:5px;}
    .frmcontainer_data { font-size:10px;margin:5px;}    
                           
    .frmcontainer_confirm{ font-size:10px;margin:5px; text-align:center;}
    
#frmContainer_gridResults{}
    #frmContainer_gridResults table{width:100%;}
    #frmContainer_gridResults th{font-weight:bold; color:#FFFFFF; background-color:#516981;text-align:center; height:20px;}    

#frmContainer_resumes{ margin: 20px 20px 20px 20px;}    
    #frmContainer_resumes table{width:100%;}    
    .resumesBox{float:left;
                width:350px; margin: 5px 5px 5px 5px;}
    .resumesBox_tittle{background-color:#516981;text-align:center; height:20px;color:#FFFFFF;}
    .resumesBox_content{}

#frmcontainer_finalmessages{font-size:10px; font-weight:bold;}

#frmContainer_generalInformation{}
#frmContainer_generalInformation ul{ list-style-type:none; margin:0px;}
#frmContainer_generalInformation li{ padding:2px;margin:2px;}

