ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	background: #e0e0e0;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}	
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}




table.statistics_results {width:100%;}
table.statistics_results td.max_header { background-color:#516981; color:#FFFFFF; height:20px; font-weight:bold; width:27%; text-align:center;}
table.statistics_results td.header {height:20px; font-weight:bold; text-align:center;}

table.statistics_results td.cell {height:20px; text-align:center; border-bottom:1px solid #516981;}
table.statistics_results td.cell_warning {height:20px; text-align:center; border-bottom:1px solid #516981; 
                                          color: #B40606; background-color:#FFAAAA;}
table.statistics_results td.cell_passed {height:20px; text-align:center; border-bottom:1px solid #516981; 
                                          color:#516981; font-weight:bolder;}                                          
table.statistics_results td.cell_reference {height:20px; text-align:center; border-bottom:1px solid #516981; color:#516981; font-weight:bolder;}

table.statistics_results td.cell_concept {height:20px; text-align:left; padding-left:5px; border-bottom:1px solid #516981; background-color:#e0e0e0;}
table.statistics_results td.cell_total {height:20px; text-align:center; padding-left:5px; border-bottom:1px solid #516981; background-color:#e0e0e0;}
table.statistics_results td.cell_msg {height:20px; text-align:left; padding-left:5px; border-bottom:1px solid #516981; color:#e0e0e0; font-size:16px;}
